import os


class Config(object):
    DEBUG = False
    TESTING = False
    CSRF_ENABLED = True
    SECRET_KEY = 'this-really-needs-to-be-changed'
    SQLALCHEMY_DATABASE_URI = os.environ['DATABASE_URL']
    SQLALCHEMY_TRACK_MODIFICATIONS = True

    # themoviedb (https://www.themoviedb.org)
    TMDB_KEY = 'xxxxxx'
    TMDB_ENDPOINT = 'http://api.themoviedb.org/3'
    TMDB_IMAGE_ENDPOINT = 'http://image.tmdb.org/t/p/w500'


class ProductionConfig(Config):
    DEBUG = False


class DevelopmentConfig(Config):
    DEVELOPMENT = True
    DEBUG = True


class TestingConfig(Config):
    TESTING = True
