{% from 'helpers/macros.html' import render_flash_messages with context %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="">
        <meta name="author" content="Ilias Trichopoulos">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link type="text/css" rel="stylesheet" href="/static/css/libs/semantic/semantic.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/libs/pickadate/default.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/libs/pickadate/default.date.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/libs/pickadate/default.time.css" />

        {% assets "scss_all" %}
            <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}

        <link rel="shortcut icon" href="/static/icons/favicon.ico">

        <script src="/static/js/libs/modernizr-2.6.2.min.js"></script>
        <script src="/static/js/libs/jquery-1.11.3.min.js"></script>

    </head>
    <body>
        <nav class="ui fixed large menu navbar teal">
            <a href="{{ url_for('home') }}" class="brand item">Nightly</a>
            {%- for item in current_menu.children -%}
                <a href="{{ item.url}}" class="item {% if item.active %}active{% endif%}">{{ item.text }}</a>
            {%- endfor -%}
        </nav>
        <main class="ui page grid">
            {% set error_messages = get_flashed_messages(category_filter=["error"]) %}
            {% set success_messages = get_flashed_messages(category_filter=["success"]) %}
            {% set warning_messages = get_flashed_messages(category_filter=["warning"]) %}
            {% set messages = get_flashed_messages() %}
            {% if messages %}
                <div class="centered row flash-messages">
                    <div class="ten wide starter column">
                        {% if success_messages %}
                            {{ render_flash_messages('positive', success_messages) }}
                        {% endif %}
                        {% if error_messages %}
                            {{ render_flash_messages('negative', error_messages) }}
                        {% endif %}
                        {% if warning_messages %}
                            {{ render_flash_messages('warning', warning_messages) }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                {% block page %}{% endblock %}
            </div>
        </main>

        <script defer src="/static/js/libs/semantic/semantic.min.js"></script>
        <script defer src="/static/js/libs/Sortable.min.js"></script>
        <script defer src="/static/js/libs/pickadate/picker.js"></script>
        <script defer src="/static/js/libs/pickadate/picker.date.js"></script>
        <script defer src="/static/js/libs/pickadate/picker.time.js"></script>
        <script defer src="/static/js/plugins.js"></script>
        <script defer src="/static/js/script.js"></script>
        <!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->
        <script>
            window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
            Modernizr.load({
              load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
            });

            (function(global) {
                'use strict';

                $(document).ready(function(){
                    setupMessages();
                });

                global.setupMessages = function setupMessages() {
                    $('.message .close').on('click', function() {
                        $(this).closest('.message').fadeOut('slow', function(){
                            $(this).remove();
                            if (!($('.message').length)) {
                                $('.flash-messages').hide('slow');
                            };
                        });
                    });
                    setTimeout(function() {
                        $('.positive .close').trigger('click');
                    }, 2000);
                }
            })(window);
        </script>
    </body>
</html>
